/**************************/
/* General */

body {
    font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Courgette', cursive;
}

hr {
    border: none;
    height: 1px;
    background: #000;
    margin: 0 auto;
    width: 75%;
}

.page-content {
    padding: 2%;
    width: 90%;
    margin: 0 auto;
    border: solid 2px #000;
    background-color: rgba( 255, 255, 255, 0.8 );
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.columns .column {
    float: left;
}

.column.col-25 {
    width: 25%;
}

.column.col-50 {
    width: 50%;
}

form textarea { 
    width: 90%; 
    height: 200px;
}

form input {
    width: 90%;
}

form select {
    width: 90%;
}

form input[type=submit] {
    padding: 5px;
    background: #174578;
    color: #fff;
    border: outset 2px #142449;
    cursor: pointer;
}

/**************************/
/* Information / Homepage */
.homepage {
    background: url( "moroccan-flower-dark.png" );
}

.homepage .game-title {
    font-family: 'Courgette', cursive;
}

.homepage tr:nth-child(even) {
    background: rgba( 255, 255, 255, 0.6 );
}
.homepage tr:nth-child(odd) {
    background: rgba( 255, 255, 255, 0.8 );
}

/**************************/
/* Admin view */

.admin {
    background: url( "moroccan-flower-dark.png" );
}

/**************************/
/* Player view */

/**************************/
/* Card frame */
