body {
    background: #DDFFE6;
}

.column-players {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
}

.column-players .player {
    display: block;
    
    background: rgba( 255, 255, 255, 1.0 );
    
    border: solid 2px #000;
    
    width: 16%;
    margin: 1%;
    
    float: left;
}

.column-board {
    margin-top: 210px;
    width: 75%;
    border: solid 1px #000;
    background-color: #BEF1FF;
    /*background-image: url( "background.png" );*/
    background-position: center;
    background-repeat: no-repeat;
    min-height: 850px;
}

.game-notes-bar {
    position: absolute;
    right: 0;
    top: 100px;
    background: #FFF2D0;
    padding: 10px;
    border: solid 1px #A18F63;
    margin: 0 1%;
}

.game-notes-bar input[type=submit] {
    background: #5CFF47;
    border: solid 1px #000;
    border-radius: 5px;
    float: right;
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
}

.game-notes-bar textarea {
    width: 200px;
    height: 350px;
}


.control-panel-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}


.control-panel-bar .column.reset-column {
    position: absolute;
    right: 0;
    top: 0;
    background: #FFF2D0;
    padding: 10px;
    border: solid 1px #A18F63;
    margin: 0 1%;
    width: 5%;
}

.control-panel-bar .column.column-debug {
    position: absolute;
    right: 0;
    top: 80px;
    background: #FFF2D0;
    padding: 10px;
    border: solid 1px #A18F63;
    margin: 0 1%;
    width: 5%;
}


.column-refresh {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #C9FFC1;
    border: solid 1px #000;
    padding: 5px;
    width: 200px;
    font-size: 9pt;
}

.safety-window {
    position: absolute;
    right: 0;
    bottom: 100px;
    border: solid 1px #000;
    background-color: #EACAFF;
    width: 200px;
}


#reset-game .reset {
    background: #F23A36;
    border: solid 1px #000;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    margin: 10px 5px;
}




.display h1 { text-align: center; }

.centered { text-align: center; }

img.title { height: 300px; }

table.scenarios,
table.scenarios tr,
table.scenarios tr td,
table.scenarios tr th
 { text-align: left; }

table.scenarios tr td { padding: 5px; }

table.scenarios {
    width: 100%;
    font-size: 12pt;
}

tr:nth-child(even) {
    background: #D7FFC8;
}
tr:nth-child(odd) {
    background: #FFF;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.debug {
    width: 100%;
    height: 400px;
    font-size: 8pt;
    background: rgba( 255, 255, 255, 0.8 );
    overflow: auto;
    font-size: 8pt;
}

.debug2 {
    width: 100%;
    height: 200px;
    font-size: 8pt;
    background: rgba( 255, 255, 255, 0.8 );
    overflow: auto;
}

.close-window {
    width: 30px;
    height: 30px;
    background: #D61D19;
    color: #fff;
    font-weight: bold;
    font-size: 8pt;
    text-align: center;
    border-radius: 25px;
    border: solid 2px #fff;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.game-view {
    font-family: sans-serif;
}

.join-game,
.start-game {
    width: 75%;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: solid 1px #000;
}

.card-row .card {
    float: left;
    margin: 5px;
}

.game-piece.card {
    border-radius: 15px;
    background: #fff;
    border: solid 1px #666;
    padding: 20px;
    width: 171px;
    height: 300px;
    position: relative;
    text-align: center;
    margin: 5px;
    float: left;
}

.game-piece.card .title {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    color: #CD210C;
}

.game-piece.card .description {
    font-family: serif;
    font-size: 9pt;
    overflow: auto;
    max-height: 220px;
    display: block;
}

.game-piece.card .description2 {
    font-family: sans-serif;
    font-size: 9pt;
    color: #CD210C;
    font-weight: bold;
    text-align: center;
}

.game-piece.card .bottom-spot {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
}

.game-piece.card.voice {
}

.game-piece.card.story {
}

.game-piece.card.legacy {
    line-height: 75%;
}

.column-board .aspect {
    text-align: center;
    background: #ffde00;
    border: solid 1px #aaa;
    padding: 5px;
    margin: 5px;
    font-size: 10pt;
    float: left;
}

.column-board .background-info {
    margin: 10px;
}

.column-board .age-board {
    width: 97%;
    padding: 5px;
    border: solid 1px #000;
    margin: 5px;
}

.column-board .age-board.age1 {
    background: rgba( 255, 125, 0, 0.5 );
}

.column-board .age-board.age2 {
    background: rgba( 30, 180, 0, 0.5 );
}

.column-board .age-board.age3 {
    background: rgba( 120, 0, 255, 0.5 );
}

.column-board .age-board .age-name {
    font-weight: bold;
    font-size: 16pt;
}

.column-board .age-board .age-cards .user-card {
    float: left;
    width: 200px;
    background: #fff;
    border: solid 1px #000;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-size: 10pt;
    padding: 10px;
    position: relative;
}

.column-board .age-board .age-cards .user-card .word {
    font-weight: bold;
    font-size: 16pt;
}

.column-board .age-board .age-cards .user-card .meaning {
}

.column-board .age-board .age-cards .user-card .aspects,
.column-board .age-board .age-cards .user-card ul,
.column-board .age-board .age-cards .user-card li
 {
    text-align: left;
}

.column-board .aspect h3 {
    padding: 0;
    margin: 0;
}

.column-drawn-cards {
    background: #FFF2D0;
    padding: 10px;
    border: solid 1px #A18F63;
    position: absolute;
    left: 400px;
    top: 105px;
    max-width: 670px;
}

.column-control-panel {
    background: #FFF2D0;
    padding: 10px;
    border: solid 1px #A18F63;
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
}

.column-control-panel h2 {
    font-size: 12pt;
}

 #new-player-info,
 #update-player-info,
.open-me {
    display: none;
}

.column-control-panel form {
    border: solid 1px #aaa;
    margin: 10px auto;
    padding: 5px;
}

.column-control-panel .player-info {
    border: solid 1px #000;
    background: #C5FFFB;
    padding: 10px;
    margin: 10px;
}

.column-control-panel form p {
    margin: 0;
}

.open-form {
    width: 100%;
    background: #FFF047;
    border: solid 1px #000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.open-form input[type=submit],
.open-me input[type=submit],
.nothing input[type=submit] {
    background: #5CFF47;
    border: solid 1px #000;
    border-radius: 5px;
    float: right;
    width: 50%;
    cursor: pointer;
    margin: 10px 0;
}

form input[type=text] {
    width: 90%;
    border: solid 1px #000;
}

form input[type=text].number-input {
    width: 100px;
}


.column-control-panel .term-item {
    border: solid 1px #aaa;
    padding: 10px;
    margin: 10px;
}

.column-players table tr td { background: #fff; }


.column-players .player input[type=button] {
    text-align: left;
    background-color: rgb(255, 240, 71);
    border: solid 1px #000;
    border-radius: 5px;
}

.column-players .player .card-row h3 { 
}

.column-players .player p {
    padding: 0;
    margin: 0;
}

.column-players .edit-character-summary {
    display: none;
}

.column-players .player input[type=text] {
    width: 90%;
}

.column-players .player input[type=submit] {
    width: 100%;
    margin-top: 5px;
}

.column-decks {
    width: 100%;
}

.column-decks .draw-cards {
    float: left;
    margin: 5px;
}

.draw-card {
    /*width: 171px;*/
    /*height: 300px;*/
    width: 60px;
    height: 105px;
    /*background-size: 171px 300px;*/
    background-size: 60px 105px;
}

.draw-card.voice-card {
    background-image: url( "card-voice.jpg" );
}
.draw-card.story1-card {
    background-image: url( "card-story-1.jpg" );
}
.draw-card.story2-card {
    background-image: url( "card-story-2.jpg" );
}
.draw-card.story3-card {
    background-image: url( "card-story-3.jpg" );
}
.draw-card.legacy-card {
    background-image: url( "card-legacy.jpg" );
}


.x-button { 
    position: absolute; 
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.player table.player-name {
    font-size: 10pt;
}

.player table.player-name td,
.player table.player-name th {
    border: solid 1px #eee;
}

.player .player-voice {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    color: #CD210C;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.player .open-me { 
    display: none;
}

.cheatsheet {
    font-size: 10pt;
}

.safety {
    font-size: 10pt;
}

.column-safety-notice {
    position: absolute;
    left: 400px;
    top: 50px;
    font-size: 20pt;
    background-color: #c08aff;
    color: #fff;
    padding: 50px;
    border: solid 2px #fff;
}

input[type=submit].safety-card {
    text-align: left;
    background-color: #c08aff;
    color: #fff;
    border: solid 1px #000;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

.column-control-panel h1,
.column-control-panel h2
{
    font-size: 12pt;
}

.column-control-panel {
    font-size: 10pt;
}

.instructions {
    font-size: 9pt;
}

.column-refresh p {
    padding: 0;
    margin: 0;
}

.column-refresh div {
    display: inline;
}

.column-refresh div.invisible {
    display: none;
}

.column-refresh .button {
    text-align: left;
    background-color: #76FD60;
    border: solid 1px #000;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #000;
    text-decoration: none;
    margin: 5px;
    font-size: 8pt;
}

.column-refresh .info {
    padding-bottom: 5px;
}

.invisible {
    display: none;
}





.control-panel-bar .column {
    float: left;
    width: 20%;
    background: #FFF2D0;
    padding: 10px;
    border: solid 1px #A18F63;
    margin: 0 1%;
}

.open-menu-button {
    text-align: center;
    background-color: #92FFF2;
    border: solid 1px #000;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #000;
    text-decoration: none;
    width: 100%;
}

.open-menu-button.card-toggle {
    background-color: #ffffff;
    color: #CD210C;
}

.open-menu {
    display: none;
}

.spacing {
    padding: 5px;
}
